@import '_libs/mixin';

.section-header {
  .brand-logo {
    padding-left: 20px;
  }
}

.section-upload {
  width: 60%;
  height: 300px;
  @include border-radius(100%);
  border: 1px dashed #ccc;  
}