// ***************************************************************************
// Result
// ***************************************************************************

.result {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 500px;
  height: 300px;
  border: 2px dashed #ccc;    
  padding: 20px;
  text-align: center;
  @include border-radius(20px);  
  position: relative;
  background: white;
  
  z-index: 10;    
  animation: .9s animateResult ease-in-out forwards;

  &__title {
    font-size: 16px;
    color: #ccc;    
  }
  &__code {
    text-align: left;
    overflow: auto;
    width: 100%;
    max-height: 300px;    
  }
}

@keyframes animateResult {
  0%{ top: -600px }
  100%{ top: 20px; }
}


