// ***************************************************************************
// Result
// ***************************************************************************

.result {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 500px;
  height: 300px;
  border: 2px dashed #ccc;    
  padding: 20px;
  text-align: center;
  @include border-radius(10px);  
  position: relative;
  background: white;
  overflow: hidden;  
  z-index: 10;    
  animation: .9s animateResult ease-in-out forwards;

  &__title {
    font-size: 16px;
    color: #ccc;    
  }
  &__code {
    text-align: left;
    overflow: auto;
    width: 100%;
    max-height: 230px;   
    font-size: 10px;
    margin-top: 12px; 
    white-space: nowrap;
    white-space: pre;
  }
}

@keyframes animateResult {
  0%{ top: -600px }
  100%{ top: 20px; }
}


